.container {
  font-family: monospace;
  background-color: #faf4ed;
  border: 1px #575279 solid;
  border-radius: 5px;
  width: 800px;
  font-size: 16px;
  padding: 8px 16px;
  text-align: left;
}

.line {
  margin: 0;
  content: "";
  line-height: 28px;
}

.line.eol::after {
  content: '↵';
  color: #fffaf3;
  background-color: #575279;
}

.line.eol.bad::after {
  color: #b4637a;
  background-color: transparent !important;
}

.line span {
  font-weight: 700;
  letter-spacing: 2px;
}

span.none {
  color: #9893a5;
}

span.good {
  color: #56949f;
}

span.bad {
  color: #b4637a;
}

span.now {
  color: #fffaf3;
  background-color: #575279;
}

span.bad.space {
  background-color: #b4637a;
}