.container {
  font-family: monospace;
  background-color: #232136;
  border: 2px #908caa solid;
  border-radius: 5px;
  width: 800px;
  font-size: 16px;
  padding: 8px 16px;
  text-align: left;
}

.container:focus {
  border-color: transparent;
  outline: #ea9a97 double 2px;
}

.line {
  margin: 0;
  line-height: 28px;
  overflow-wrap: break-word;
}

.line:empty:after {
  content: "\a0";
}

.line.eol::after {
  content: '↵';
  color: #393552;
  background-color: #9ccfd8;
}

.line.eol.bad::after {
  color: #eb6f92;
  background-color: transparent !important;
}

.line span {
  font-weight: 700;
  letter-spacing: 2px;
}

span.none {
  color: #6e6a86;
}

span.good {
  color: #31748f;
}

span.bad {
  color: #eb6f92;
}

span.now {
  color: #393552;
  background-color: #9ccfd8;
}

span.bad.space {
  background-color: #eb6f92;
}
